.custom-animations_shine__1YTqy {
    background: linear-gradient(-45deg,hsla(0,0%,100%,.55) 25%,hsla(0,0%,100%,.85) 35%,hsla(0,0%,100%,.55) 63%);
    background-size: 400% 100%!important;
    animation: custom-animations_placeholder-active__39ULk 1.15s ease;
}

.w-9\/10 {
    width: 90%;
}